body {
  background: whitesmoke;
  color: #333333;
  /*margin-top: 5rem;*/
}

.col{
  border: 1px;
}

.header-links{
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
