{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <form method="post" class="form-group col-md-4 col-md-offset-5 align-center">
                {% csrf_token %}
                <h2>Estas seguro que deseas eliminar la orden {{ order.id|stringformat:"03d"}}?</h2>
                <h4> De {{ order.customer }}</h4>
                <h4> Hecha el {{ order.date_ordered }}</h4>
                {{ form|crispy }}
                <input type="submit" value="Confirm" class="btn">
            </form>
        </div>

    </div>

{% endblock %}
