{% extends 'base.html' %}
{% block content %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="grid grid-cols-3 text-center w-full mb-5">
                <p></p>
                <h1 class=" sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Ordenes Pendientes</h1>
                <a class="grid content-center justify-start" href="{% url 'order-create' %}">Nueva Orden</a>
            </div>
            <div class="lg:w-2/3 w-full mx-auto overflow-auto">
                <table class="table-auto w-full text-left whitespace-no-wrap">
                    <thead>
                    <tr>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                            Orden
                        </th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                            Cliente
                        </th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                            Fecha Ordenada
                        </th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">

                        </th>
                        <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td class="px-4 py-3">{{ object.id|stringformat:'04d' }}</td>
                            <td class="px-4 py-3">{{ object.customer|lower }}</td>
                            <td class="px-4 py-3">{{ object.date_ordered }}</td>
                            <td><a class="px-4 py-3" href="{% url 'orderItem-list' object.id %}">Ver</a></td>
                            <td class="w-10 text-center">
                                <input name="plan" type="radio">
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
                <a class="text-purple-500 inline-flex items-center md:mb-2 lg:mb-0"
                   href="{% url 'order-complete-list' %}">Ver todas las ordenes
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                         stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
                <button class="flex ml-auto text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded">
                    Button
                </button>
            </div>
        </div>
    </section>
{% endblock %}