{% extends 'base.html' %}
{% block content %}
    <div class="row mb-4">
        <div class="col ms-4">
            <h1>Ordenes</h1>
        </div>
        <div class="col-auto">
            <h4><a class="btn" href="{% url 'order-create' %}">Nueva Orden</a></h4>
        </div>
    </div>

    {% include 'messages.html' %}

    {% for order in object_list %}
        <div class="row mb-2">
            <a class="col-1 mx-4 my-auto link-dark container-sm" href="{% url 'order-detail' order.id %}">{{ order.id |stringformat:'04d'}}</a>
            <a class="col mx-auto my-auto link-dark"
               href="{% url 'customer-detail' order.customer.id %}">{{ order.customer }}</a>
            <div class="col my-auto">{{ order.order.date_ordered }}</div>
            <input  type="checkbox" class="col my-auto"{{ order.finished }}>
            <div class="col-1"><a href="{% url 'order-detail' order.id %}" class="btn">Detalles</a></div>
            <div class="col-1"><a href="{% url 'order-update' order.id %}" class="btn">Editar</a></div>
            <div class="col-1"><a href="{% url 'order-delete' order.id %}" class="btn">Eliminar</a></div>
        </div>
    {% endfor %}
{% endblock %}