{% extends 'base.html' %}

{% block content %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="grid grid-cols-3 text-center w-full mb-5">
                <p></p>
                <h1 class="sm:text-4xl text-3xl font-medium title-font mb-4 text-gray-900">Clientes</h1>
                <a class="grid content-center justify-start" href="{% url 'customers-create' %}">Nuevo Cliente</a>
            </div>
            <div class="flex flex-wrap -m-2">
                {% for customer in customer_list %}
                    <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                            <img alt="team"
                                 class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                                 src="https://dummyimage.com/80x80">
                            <div class="flex-grow">
                                <h2 class="text-gray-900 title-font font-medium">{{ customer.name_company }}</h2>
                                <p>some info</p>
                                <a href="{% url 'customer-detail' customer.pk %}"
                                   class="text-indigo-600 hover:text-blue-500">Detalle</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
