{% extends 'orders/base.html' %}

{% block content %}
    <div class="mx-4 my-4">
        {% if orders %}
            <h1>Ordenes</h1>
            {% for order in orders %}
                <div class="row my-4">
                    <a href="{% url 'order-detail' order.id %}" class="col mx-4 link-dark">{{ order.id | stringformat:'03d'}}</a>
                    <a href="{% url 'lider-detail' order.lider_id %}" class="col link-dark">{{ order.lider_id }}</a>
                    <a href="{% url 'customer-detail' order.customer.id %}" class="col link-dark">{{ order.customer }}</a>
                    <div class="col">{{ order.date_ordered }}</div>
                </div>
            {% endfor %}
        {% endif %}

        {% if lider %}
            <h1>Trabajos</h1>
            {% for l in lider %}
                <div class="row my-4">
                    <a href='{% url 'lider-detail' l.lider_id %}' class="col mx-4 link-dark">{{ l.lider_id }}</a>
                    <a href="{% url 'customer-detail' l.customer.id %}" class="col link-dark">{{ l.customer|title }}</a>
                    <div class="col">{{ l.doc_description|title}}</div>
                    <div class="col">{{ l.doc_inks|title }}</div>
                </div>
            {% endfor %}
        {% endif %}

        {% if customers %}
            <h1>Clientes</h1>
            {% for customer in customers %}
                <div class="row mb-4">
                    <a href="{% url 'customer-detail' customer.id %}" class="col mx-4 link-dark">{{ customer.name_company }}</a>
                    <div class="col">{{ customer.email }}</div>
                    <div class="col">{{ customer.phone_number}}</div>
                </div>
            {% endfor %}
        {% endif %}

        {% if materials %}
            <h1>Materiales</h1>
            {% for material in materials %}
                <div class="row mb-4">
                    <a href="{% url 'material-detail' material.id %}" class="col mx-4 link-dark">{{ material.name }}</a>
                    <div class="col">{{ material.size }}</div>
                    <div class="col">${{ material.price|floatformat:"2g"}}</div>
                    <div class="col">{{ material.quantity_ordered|floatformat:"g"}}</div>
                </div>
            {% endfor %}

        {% endif %}

    </div>
{% endblock %}