{% extends 'orders/base.html' %}

{% block content %}

    {% if orders %}
        <div class="row my-4">
        <h1>Ordenes</h1>
        {% for order in orders %}
            <p>{{ order.id | stringformat:'03d'}} - {{ order.customer }} - {{ order.date_ordered }} - {{ order.lider_id }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if lider %}
        <div class="row my-4">
            <h1>Trabajos</h1>
            {% for l in lider %}
                <p>{{ l.lider_id}} - {{ l.customer|title}} - {{ l.doc_description|title }} - {{ l.doc_inks|title }}</p>
            {% endfor %}
    </div>
    {% endif %}

    {% if customers %}
        <div class="row mb-4">
        <h1>Clientes</h1>
            {% for customer in customers %}
                <p>{{ customer.name_company }} - {{ customer.email }} - {{ customer.phone_number }}</p>
            {% endfor %}
    </div>
    {% endif %}



{% endblock %}