{% include 'scripts.html' %}
<div class="bg-purple-warm text-white">
    <div class="flex flex-wrap p-5 items-center justify-between">
        <a href="{% url 'home' %}" class="flex title-font font-medium items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-500 rounded-full"
                 viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">lider</span>
        </a>
        <a href="{% url 'login' %}"
           class="nav-btn">
            Iniciar Sesion
        </a>
    </div>
    <section class="flex justify-center items-center w-screen h-screen">
        <div class="h-[700px] w-[700px] mb-32 bg-white rounded-full text-purple-warm flex flex-col items-center justify-center">
            <h1 class="text-6xl font-medium title-font ">lider nogales</h1>
            <p class="">sitio web oficial de la administracion de la imprenta lider</p>
        </div>
    </section>
</div>