{% extends 'base.html' %}

{% block content %}
    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
            <div class="-my-8 divide-y-2 divide-gray-100">
                {% if orders %}
                    <div class="py-8 flex flex-nowrap">
                        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                            <span class="font-semibold title-font text-gray-700">ORDENES</span>
                        </div>
                        <div class="flex flex-wrap">
                            {% for order in orders %}
                                <div class="flex-col text-center w-36 h-18 bg-gray-100 mx-1 my-1 rounded-lg flex items-center justify-center content-around p-1">
                                    <a class="text-lg font-medium text-gray-900 title-font text-center">
                                        {{ order.id|stringformat:'04d' }}
                                    </a>
                                    <a href="#">{{ order.customer }}</a>
                                    <a class="text-indigo-500 inline-flex items-center">Learn More</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if lider %}
                    <div class="py-8 flex flex-nowrap">
                        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                            <span class="font-semibold title-font text-gray-700">TRABAJOS</span>
                        </div>
                        <div class="flex flex-wrap">
                            {% for l in lider %}
                                <div class="text-center w-36 h-18 bg-gray-100 mx-1 my-1 rounded-lg flex flex-col items-center justify-center content-around p-1">
                                    <a class="text-lg font-medium text-gray-900 title-font text-center">
                                        {{ l.lider_id }}
                                    </a>
                                    <a href="#">{{ l.customer }}</a>
                                    <a class="text-indigo-500 inline-flex items-center">Learn More</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if customers %}
                    <div class="py-8 flex flex-nowrap">
                        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                            <span class="font-semibold title-font text-gray-700">CLIENTES</span>
                        </div>
                        <div class="flex flex-wrap">
                            {% for customer in customers %}
                                <div class="text-center w-36 h-18 bg-gray-100 mx-1 my-1 rounded-lg flex flex-col items-center justify-center content-around p-1">
                                    <a class="text-lg font-medium text-gray-900 title-font text-center flex items-center justify-center content-around">
                                        {{ customer.name_company }}
                                    </a>
                                    <a class='flex flex-nowrap justify-center' href="#">{{ customer.phone_number }}</a>
                                    <a class="text-indigo-500 inline-flex items-center">Learn More</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>
{% endblock %}