{% extends 'crm/base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="row mb-4">
        <div class="col ms-4">
        <h1>Ordenes</h1>
        </div>
        <div class="col-auto">
                <h4><a class="btn" href="{% url 'order-create' %}">Nueva Orden</a></h4>
        </div>
    </div>

{#    {% render_table object_list %}#}
    {% for order in object_list %}
        <div class="row mb-2">
            <div class="col-1 mx-4 my-auto">{{ order.lider }}</div>
            <div class="col mx-auto my-auto">{{ order.customer }}</div>
            <div class="col my-auto">{{ order.date_ordered }}</div>
            <div class="col-1"> <a href="{% url 'order-detail' order.id %}" class="btn">Detalles</a></div>
            <div class="col-1"> <a href="{% url 'order-update' order.id %}" class="btn">Editar</a></div>
            <div class="col-1"> <a href="{% url 'order-delete' order.id %}" class="btn">Eliminar</a></div>
        </div>
    {% endfor %}
{% endblock %}