{% load static %}
<html lang="EN">
<title>
    Lider
</title>

<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Lider</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Ordenes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'customers' %}">Clientes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lider' %}">Trabajos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'budgets' %}">Cotizaciones</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end mb-2 mb-lg-0 mx-4">
                <li class="nav-item dropdown justify-content-end">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {% if user.is_authenticated %}
                            {{ user }}
                        {% else %}
                            Usuarios
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesion</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesion</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'register' %}">Registrarse</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>

            <form class="d-flex my-2" role="search" method="GET" action="{% url 'search' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="text" placeholder="Buscar" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>



{% block content %}

{% endblock %}
</body>
<footer>
    {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center my-4">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link link-dark" href="?page=1">&laquoPrincipio</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link link-dark" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="{{ page_obj.start_index }}">&laquoPrincipio</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">Anterior</a>
                    </li>
                {% endif %}


                <li class="page-item"><a class="page-link font-weight-bold link-dark" href="#">{{ page_obj.number }}
                    de {{ page_obj.paginator.num_pages }}</a></li>


                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link link-dark" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link link-dark" href="?page={{ page_obj.paginator.num_pages }}">Final&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Siguiente</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Final&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</footer>
{% include 'orders/scripts.html' %}
</html>
