{% extends 'base.html' %}
{% block content %}
    <section>
        <div class="container px-5 py-24 mx-auto">
            <div class="flex w-full mb-5">
                <div class="w-2/3 flex flex-row-reverse">
                    <h1 class="text-3xl font-medium title-font w-1/2 self-end text-center">Trabajos</h1>
                </div>
                <a class="grid content-center justify-center w-1/3 text-purple" href="{% url 'lider-create' %}">Nuevo Trabajo</a>
            </div>
            <div class="flex flex-wrap -m-2">
                {% for lider in lider_list %}
                    <div class="p-2 lg:w-1/3 md:w-1/2 w-full h-36">
                        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                            <img alt="team"
                                 class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                                 src="https://dummyimage.com/80x80">
                            <div class="flex-grow ml-4">
                                <p class="font-semibold">{{ lider.customer }}</p>
                                <p class="font-bold">{{ lider.lider_id }} - {{ lider.doc_name|lower }}</p>
                                <p class="font-light">{{ lider.doc_description }}</p>
                                <a href="{% url 'lider-detail' lider.pk %}"
                                   class="text-indigo-600 hover:text-blue-500">Detalle</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}