{% extends 'base.html' %}
{% block content %}
    <section>
        <div class="container px-5 mt-24 mx-auto">
            <div class="flex w-full mb-5 items-center">
                <a class="w-1/3 text-center text-purple"
                   href="{% url 'material-list' %}">Materiales</a>
                <h1 class="w-1/3 text-3xl font-medium title-font text-center">Cotizaciones</h1>
                <a class="w-1/3 text-center text-purple" href="{% url 'budgets' %}">Nueva
                    Cotizacion</a>
            </div>
            <div class="min-h-[500px]">
                <div>
                    <div class="bg-purple-light rounded-lg text-purple text-lg py-2 flex justify-between">
                        <h1 class="w-1/4 text-center">
                            Cotizacion
                        </h1>
                        <h1 class="w-1/4 text-center">
                            Cliente
                        </h1>
                        <h1 class="w-1/4 text-center">
                            Fecha
                        </h1>
                        <h1 class="w-1/4 text-center">
                            Detalle
                        </h1>
                    </div>
                    <div>
                        {% for object in object_list %}
                            <div class="py-2 flex items-center">
                                <div class="w-1/4 text-center">{{ object.id|stringformat:'04d' }}1234</div>
                                <div class="w-1/4 text-center">{{ object.customer|lower }}cliente1</div>
                                <div class="w-1/4 text-center">{{ object.order.date_ordered }}sep/10/2022</div>
                                <a class="w-1/4 text-center" href="{% url 'order-detail' object.id %}">Ver</a>
                            </div>
                        {% empty %}
                            <div class="py-2 flex items-center">
                                <div class="w-1/4 text-center">1234</div>
                                <div class="w-1/4 text-center">cliente1</div>
                                <div class="w-1/4 text-center">sep/10/2022</div>
                                <a class="w-1/4 text-center nav-btn">Ver</a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="flex pl-4 mt-4 w-full mx-auto">
                <a class="text-purple inline-flex items-center md:mb-2 lg:mb-0">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                         stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
                <button class="flex ml-auto text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded">
                    Button
                </button>
            </div>
        </div>
    </section>
{% endblock content %}