{% extends 'base.html' %}

{% block content %}
    <div class="row mb-4">
        <div class="col ms-4">
            <h1>Materiales</h1>
        </div>

        <div class="col-auto">
            <a class="btn mx-4" href="{% url 'material-create' %}">Agregar Material</a>
        </div>
    </div>

    {% include 'messages.html' %}

    {% for material in object_list %}
        <div class="row mb-2">
            <a class="col mx-4 my-auto link-dark" href="{% url 'material-detail' material.id %}">{{ material.name }}</a>
            <div class="col mx-auto my-auto">{{ material.size }}</div>
            <div class="col my-auto">{{ material.quantity_ordered|floatformat:"g" }}</div>
            <div class="col my-auto text-center">$ {{ material.price|floatformat:"2g" }}</div>
            <div class="col my-auto">$ {{ material.get_vat_price|floatformat:"2g" }}</div>
            <div class="col-1"><a href="{% url 'material-detail' material.id %}" class="btn">Detalles</a></div>
            <div class="col-1"><a href="{% url 'material-update' material.id %}" class="btn">Editar</a></div>
            <div class="col-1"><a href="{% url 'material-delete' material.id %}" class="btn">Eliminar</a></div>
        </div>
    {% endfor %}
{% endblock content %}